// Google font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

@import "core/reset";

@import "abstracts/variables";
@import "abstracts/helpers";

@import "layout/layout";

@import "sections/tab";
@import "sections/error";
@import "sections/loader";