
// Colors
/* our base color - body and typogaphry */
$clr-base: #3aafa9;
$clr-base-drk: #17252a;
/* neutrals */
$clr-ntrl-min: #fff;
$clr-ntrl-max: #000;
/* notifications */
$clr-error: #fc7575;

// Font Family
$ff-base: 'Nunito';