/******* tab && loader container *******/

.tab, .loader-container {
    width: 100%;
    min-height: 400px;
    height: auto;
    background-color: $clr-ntrl-min;
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;
    border-radius: 25px;
    text-align: center;
  }
  .loader-container {
     background-color: transparent;
     @include flex-center;
  }